body{
	overflow: hidden;
	width: 100vw; /*It'll take 100% of the width of the screen.*/
	height: 100vh; /*It means that we want to the height to be 100% of the height of the screen*/
	padding:0;
	margin: 0;
	font-family: Arial;
	cursor: pointer;
}
.balloon{
	width: 100px;
	height: 200px;
	position: absolute;
	top:100vh; /*100% of the height of the screen, then balloons'll be invisible*/
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.balloon-red{
	background-image: url("../images/balloon-red.png");
}
.balloon-yellow{
	background-image: url("../images/balloon-yellow.png");
}
.balloon-blue{
	background-image: url("../images/balloon-blue.png");
}
.balloon-violet{
	background-image: url("../images/balloon-violet.png");
}
.balloon-green{
	background-image: url("../images/balloon-green.png");
}
.total-shadow{
	display: none;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.6);
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	z-index:1000;
	position: relative; /*z-index doesn't work with position:static;*/
}
.total-block{
	background: #fff;
	padding: 10px 100px 40px; /*t:10 l,r:100 b:40*/
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 20px rgba(0,0,0,0.8); /*x:0 y:0 blur-radius:20*/
}
.win{
	display: none;
}
.lose{
	display: none;
}
.score-block{
	background: #efefef;
	width: 300px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px 20px 0 0; /*tl:20 tr:20 br:0 bl:0*/
	position: absolute;
	bottom: 0;
	left: calc(50% - 150px);
}